In [21]:
import numpy as np
import pandas as pd
import os

In [22]:
data_root = "D:/food/한국 음식 이미지/면/면"
food_list = os.listdir(data_root)

In [23]:
print(food_list)
food_data = []
for i in food_list:
    food_data.append(data_root+'/'+i)

['라면', '막국수', '물냉면', '비빔냉면', '수제비', '열무국수', '잔치국수', '짜장면', '짬뽕', '쫄면', '칼국수', '콩국수']

In [24]:
food_data

['D:/food/한국 음식 이미지/면/면/라면',
 'D:/food/한국 음식 이미지/면/면/막국수',
 'D:/food/한국 음식 이미지/면/면/물냉면',
 'D:/food/한국 음식 이미지/면/면/비빔냉면',
 'D:/food/한국 음식 이미지/면/면/수제비',
 'D:/food/한국 음식 이미지/면/면/열무국수',
 'D:/food/한국 음식 이미지/면/면/잔치국수',
 'D:/food/한국 음식 이미지/면/면/짜장면',
 'D:/food/한국 음식 이미지/면/면/짬뽕',
 'D:/food/한국 음식 이미지/면/면/쫄면',
 'D:/food/한국 음식 이미지/면/면/칼국수',
 'D:/food/한국 음식 이미지/면/면/콩국수']

In [25]:
food_data_list = []
for j in food_data:
    tmp = []
    for i in os.listdir(j):
        if i[-3:].lower() == 'jpg':
            tmp.append(i)
    food_data_list.append(tmp)

In [72]:
re = pd.DataFrame({food_list[0]:food_data_list[0]})
for i in range(len(food_data_list)-1):
    df_tmp = pd.DataFrame({food_list[i+1]:food_data_list[i+1]})
    #re = pd.concat([df_tmp],ignore_index=True)
    #re = re.append(df_tmp,ignore_index=True,axis=1)
    re = re + df_tmp

In [67]:
df= pd.DataFrame()
for i in range(len(food_list)):
    df[food_list[i]] = food_data_list[i]

ValueError: Length of values (995) does not match length of index (996)

In [73]:
re

      라면  막국수  물냉면 비빔냉면  수제비 열무국수 잔치국수  짜장면   짬뽕   쫄면  칼국수  콩국수
0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
995  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
996  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
997  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
998  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
999  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[1000 rows x 12 columns]

In [45]:
len(food_list)

12